<div class="container">
  <div class="row">
    <div class="col-xl-12">
      <h3>
        String Interpolation
      </h3>
      <hr />
      <p>{{componentTitle}} works!</p>
      <hr />
      <p>{{getComponentDetails()}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-12">
      <h3>Property Data binding</h3>
      <button class="btn btn-primary" 
        (click)="clickHandler()"
        [disabled]="isDisable">Property Data Binding</button>
      <p [innerText]="propertyText"></p>
      <p>Event == {{serverCreated}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-12">
      <input type="text" (input)="inputChangeHandler($event)" />
      <p>{{inputValue}}</p>
    </div>
  </div>
</div>